<html>
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
  </head>
  <body>

    <!-- Preloader -->


  {{ block "main" . }}

    <div class="container">
      <div class="columns">
        <div class="column is-centered-tablet-portrait">
          <h1 class="title section-title">{{ .Title }}</h1>
          <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>
          <div class="divider"></div>
        </div>
      </div>
      <div class="content">
        {{ .Content }}
      </div>
      {{ range .Pages }}

      
      <div >
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          <div >
          </div>
      </div>
      {{ end }}
    </div>




     {{ partial "footer.html" . }}



     <div id="backtotop"><a href="#"></a></div>

    {{ partial "section5.html" . }}
     {{ partial "single/sidebar.html" . }}


     {{end}}

</body>
<script>
  function onSubmit(token) {
    document.getElementById("contact").submit();
  }
</script>
<script src="https://www.google.com/recaptcha/api.js"></script>
</html>
