<!DOCTYPE html>
<html>
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
    {{ partial "flickity.html"}}
  </head>
  <body>

    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>

    {{ block "main" . }}

    {{ partial "single/single.html" . }}


    <div class="carousel">

      <div class="carousel carousel-main" >
        {{ range .Params.images }}
        <div class="carousel-cell"><img style="object-fit: contain" src = "{{ . | relURL }}"></div>
      {{end}}
     </div>


      <div class="carousel-nav">
        <div class="carousel-cell is-nav-selected"></div>
        {{ range .Params.images }}
      <div class="carousel-cell"><img style="object-fit: contain"src = "{{ . | relURL }}"></div>
      {{end}}
  </div>
</div>




    {{ partial "footer.html" . }}


    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>


    {{ partial "single/sidebar.html" . }}


    {{end}}

    {{ partial "javascript.html" . }}

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js">></script>
        <script type="text/javascript">
        var $carousel = $('.carousel').flickity(
          fullscreen: true
        );

        var $carouselNav = $('.carousel-nav');
        var $carouselNavCells = $carouselNav.find('.carousel-cell');

        $carouselNav.on( 'click', '.carousel-cell', function( event ) {
          var index = $( event.currentTarget ).index()-1;
          $carousel.flickity( 'select', index );
        });


        var flkty = $carousel.data('flickity');
        var navTop  = $carouselNav.position().top;
        var navCellHeight = $carouselNavCells.height();
        var navHeight = $carouselNav.height();
        flkty.on( 'fullscreenChange', function( isFullscreen ) {

        });

        $carousel.on( 'select.flickity', function() {
          // set selected nav cell
          $carouselNav.find('.is-nav-selected').removeClass('is-nav-selected');
          var $selected = $carouselNavCells.eq( flkty.selectedIndex )
            .addClass('is-nav-selected');
          // scroll nav
          var scrollY = $selected.position().top +
            $carouselNav.scrollTop() - ( navHeight + navCellHeight ) / 2;
          $carouselNav.animate({
            scrollTop: scrollY
          });
        });

        </script>




  </body>
  <script>
    function onSubmit(token) {
      document.getElementById("contact").submit();
    }
  </script>
  <script src="https://unpkg.com/flickity-fullscreen@1/fullscreen.js"></script>
  <script src="https://www.google.com/recaptcha/api.js"></script>
</html>
