<html>
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
  </head>
  <body>

    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>

  {{ block "main" . }}
  {{ partial "navbar.html" . }}
  {{ partial "navbar-clone.html" . }}

  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column is-centered-tablet-portrait">
          <h1 class="title section-title">{{ .Title }}</h1>
          <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>
          <div class="divider"></div>
        </div>
      </div>

      <div class="content">
        {{ .Content }}
      </div>
      <div class="columns">
    <div class = "menu" style = "align-content: left;">
    {{ range .Pages }}
    {{ $images := .Params.images }}
     <div class="column is-centered-tablet-portrait">
          <a  class = "menu-lable" href="{{ .Permalink }}">{{ .Title }}</a>

              {{ with $images }}
              {{range first 1 . }}
              <div class = "media-left">
              <img style = " object-fit: fill; width: 100%; height: 200px;" src = "{{  .  | relURL }}">
            </div>
              {{ end }}
              {{ end }}

      </div>
      {{ end }}
    </div>
    </div>
      </div>
  </section>

      <div class="carousel-container">

        <div class="carousel carousel-main">
          {{ range .Params.images }}
          <div class="carousel-cell"><img style="object-fit: contain" src = "{{ . | relURL }}"></div>
        {{end}}
       </div>


        <div class="carousel-nav">
          <div class="carousel-cell is-nav-selected"></div>
          {{ range .Params.images }}
        <div class="carousel-cell"><img style="object-fit: contain"src = "{{ . | relURL }}"></div>
        {{end}}
    </div>
  </div>





    {{ partial "section5.html" . }}
     {{ partial "single/sidebar.html" . }}
          <div id="backtotop"><a href="#"></a></div>
      {{ partial "footer.html" . }}
     {{end}}
    {{ partial "javascript.html" . }}

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</body>
<script>
  function onSubmit(token) {
    document.getElementById("contact").submit();
  }
</script>
<script src="https://unpkg.com/flickity-fullscreen@1/fullscreen.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
</html>
