{{- $sidebar  := .Site.Params.sidebar }}
{{- $logo     := index $sidebar "logo" }}
{{- $sections := index $sidebar "sections" }}
<div class="sidebar">
  <div class="sidebar-header">
    <img src="{{ printf "/images/logos/%s.svg" $logo | relURL }}">
    <a class="sidebar-close" href="javascript:void(0);">
      <i data-feather="x"></i>
    </a>
  </div>
  <div class="inner">
    <ul class="sidebar-menu">

      {{- range .Site.Sections}}
      <li class="have-children">
        <a href="#">
          <span class=""></span>
          {{ .Name }}
        </a>
        <ul>
          {{- range .Pages }}
          <li>
            <a href="{{ .Permalink }}">
              {{ .Title }}
            </a>
          </li>
          {{- end }}
        </ul>
      </li>
      {{- end }}

    </ul>
  </div>
</div>
