{{- $sidebar  := .Site.Params.sidebar }}
{{- $logo     := index $sidebar "logo" }}
{{- $sections := index $sidebar "sections" }}
<div class="sidebar">
  <div class="sidebar-header">
    <img src="{{ printf "/images/logos/%s.svg" $logo | relURL }}">
    <a class="sidebar-close" href="javascript:void(0);">
      <i data-feather="x"></i>
    </a>
  </div>
  <div class="inner">
    <ul class="sidebar-menu">

      {{ range $key, $taxonomy := .Site.Taxonomies.instruments }}

      <li class="have-children">
        <a href="#">
          <span class="fa fa-check"></span>
          {{ humanize $key }}
        </a>
        <ul>
          {{- range $taxonomy.Pages }}
          {{ $file := printf "/instruments/%s" .Title}}
    
          <li>
            <a href="{{ .RelPermalink }}">
              {{ humanize .Title }}
            </a>
          </li>
          {{- end }}
        </ul>
      </li>
      {{- end }}

    </ul>
  </div>
</div>
