<!DOCTYPE html>
<html>
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
    {{ partial "gallerycss.html" . }}
    <!-- Add the slick-theme.css if you want default styling -->

  </head>
  <body>

    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>

    {{ block "main" . }}

    {{ partial "single/single.html" . }}



    {{partial "gallery.html" . }}

    {{partial "section1.html" .}}
    {{partial "section5.html" .}}
    {{ partial "footer.html" . }}


    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{if .Page.Params.include_sidebar}}
    {{ partial "single/sidebar.html" . }}
    {{end}}

    {{end}}

    {{ partial "javascript.html" . }}
    {{ partial "galleryjs.html" . }}



  </body>
</html>
